#container {
	opacity: 0.85;
	background-color: #2d333b;
	padding: 1%;
	border-radius: 1%;
}

.float {
	opacity: 0.85;
	position: relative;
	top: 10px;
	width: 94%;
	margin-left: 3%;
	z-index: 900;
	background-color: #2d333b;
	padding: 10px;
}
#horarios{
	overflow-y: auto;
	height: 200px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #22272e;
	color: #adbac7;
	font-size: 16px;
}